<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FORMCITY</title>
	

	<!-- STYLESHEETS-->
	<link rel="stylesheet" type="text/css" href="libraries/bootstrap/css/bootstrap.min.css">

	<!-- CUSTOM STYLES -->
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="assets/css/index.css">
	


	<!-- WEBFONT -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">

	<!-- ICON -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bg-fc">
	

	<section>
		<div class="row m-t-5p">
			<div class="col-md-3 col-sm-1 col-xs-1"></div>
			<div class="col-md-6 col-sm-10 col-xs-10">
				<div class="bg-red p-5p" >
					<div class="row">
						<div class="col-md-1 col-sm-1">
							<span><i class="fa fa-exclamation-circle fa-2x c-white" aria-hidden="true"></i></span>
						</div>
						<div class="col-md-2 col-sm-2">
							<p class="c-white">ERROR ;</p>
						</div>
						<div class="col-md-9 col-sm-9">
							<p class="c-white f-13">there was an error in completing your payment, our team is currently working on it. Just seat back and relax. we are sorry for any inconvinience this might have cost you.</p>
						</div>
					</div>
				</div>
				<p class="c-greyish-brown p-t-10p">PAYMENT DETAILS</p>
				<div class="row m-t-5p">
					<div class="col-md-3 col-sm-3 col-xs-6 ">
						<p class="c-greyish-brown">Name:</p>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-6">
						<p class="c-greyish-brown">Jhud luis</p>
					</div>
				</div>

				<div class="row m-t-2p">
					<div class="col-md-3 col-sm-3 col-xs-6 ">
						<p class="c-greyish-brown">wallet ID</p>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-6">
						<p class="c-greyish-brown">JL216577</p>
					</div>
				</div>

				<div class="row m-t-2p">
					<div class="col-md-3 col-sm-3 col-xs-6 ">
						<p class="c-greyish-brown">Amount</p>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-6">
						<p class="c-greyish-brown">&#8358; 7,000</p>
					</div>
				</div>

				<div class="row m-t-2p">
					<div class="col-md-3 col-sm-3 col-xs-6 ">
						<p class="c-greyish-brown">Error Nos</p>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-6">
						<p class="c-greyish-brown">pwz1002014</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-8 col-sm-8 col-xs-3"></div>
					<div class="col-md-4 col-sm-4 col-xs-9">
						<div class="row m-t-30p mm-t-5p">
							<div class="col-md-9 col-sm-9 col-xs-8 ">
								<p class="c-dark-sky-blue"><a href="profile.html ">Back to Profile </a></p>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-4">
								<a href=""><span><i class="fa fa-long-arrow-right fa-2x c-dark-sky-blue" aria-hidden="true"></i></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-1 col-xs-1"></div>
		</div>
	</section>

	<script type="text/javascript" src="libraries/bootstrap/js/jquery-3.1.1.min.js"></script>

    <script src="libraries/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/registrationformvalidation.js"></script>
    <script type="text/javascript" src="assets/js/signup.js"></script>
</body>
</html>